<div class='tamagotchis_list'>
  <% if @tamagotchis.empty? %>
    There is no tamagotchi here
  <% else %>
  <% @tamagotchis.each do |record| %>
      <div class="tamagotchi">
        <a href="/tamagotchis/<%= record[:id] %>">
          <%= record[:name] %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>