<div class="name">Name: <%= @tamagotchi[:name] %></div>
<div class="food">Food level: <%= @tamagotchi[:food_level] %></div>
<div class="sleep">Sleep level: <%= @tamagotchi[:sleep_level] %></div>
<div class="activity">Activity level: <%= @tamagotchi[:activity_level] %></div>
