<div class='tamagotchis_list'>
  <% if @tamagotchis.empty? %>
    There is no tamagotchi here
  <% else %>
  <% @tamagotchis.each do |record| %>
      <div class="tamagotchi">
        <%= record[:name] %> 
      </div>
    <% end %>
  <% end %>
</div>